@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add support for backdrop blur in Safari */
@supports (backdrop-filter: blur(1px)) {
  .backdrop-blur-md {
  
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 4rem;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
